body {
    margin: 0;
}

nav {
    padding: 20px;
    background-color: powderblue;
}

#home {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    text-shadow: 2px 2px black;
}

nav a {
    text-decoration: none;
    color: white;
}
