:root {
    --yellow: rgb(224, 221, 30);
}

body, html {
    margin: 0;
    height: 100%;
}

/* nav styling */

nav {
    padding: 20px;
    background-color: powderblue;
}

nav a {
    text-decoration: none;
    color: white;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* other parts of layout.html */

main {
    padding: 30px;
    min-height: 100%;
}

footer {
    background-color: darkblue;
    padding: 10px;
    color: white;
}

/* home.html */

#home {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#homeMessage {
    margin: 0;
    background-color: var(--yellow);
    padding: 10px;
    color: white;
}

/* login.html */

.form {
    background-color: var(--yellow);
    padding: 10px;
}

input, textarea {
    background-color: transparent;
    border-style: none none solid none;
    border-color: white;
    border-width: 3px;
    min-width: 200px;
}

.submitButton {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 3px 15px;
}

.submitButton:hover {
    background-color: black;
    color: white;
}

/* custom classes for general use */

.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline {
    border: 2px solid white;
    padding: 20px;
    width: 100%;
}

/* general */

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px black;
}
