<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Discover {% endblock %}

{% block body %}
  {# https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template #}
  {% if stories|length == 0 %}
    <p>
      No one has created a story yet...
    </p>
  {% else %}
    {# show the stories from the database #}
    {% import "macros.jinja" as macros %}
    {% for story in stories %}
      {{ macros.story(story.id, story.title, "[author]", story.last_update) }}
    {% endfor %}
  {% endif %}

  <form action="/create" method="get">
    <input
      type="submit"
      value="Add a New Story!"
      name="Submit"
      id="submit"
    />
  </form>
  <! -- ^^ this is a way to return to create page -->
{% endblock %}
