<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Discover {% endblock %}

{% block body %}
  {# https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template #}
  {% if stories|length == 0 %}
    <h1>
      No one has created a story yet...
    </h1>
  {% else %}
    <h1>
      Browse for stories:
    </h1>
    {# show the stories from the database #}
    {% import "macros.jinja" as macros %}
    {{ macros.story_list(stories) }}
  {% endif %}

  <form action="/create" method="get">
    <input
      type="submit"
      value="+"
      name="Submit"
      id="submit"
      style="font-size: 40px; text-align: left;"
    />
  </form>
  <!-- ^^ this is a way to return to create page -->
{% endblock %}
