<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Edit {% endblock %}

{% block body %}
  <form method="post">
    <h1> {{ title }} </h1>
    <h2> by {{ author }} </h2>
    <p> Last Update: {{ last_update }} </p>
    <textarea id="text" name="Text" rows="20" cols="94" placeholder="Continue the story..."></textarea>
    <br>
    <input type="submit" value="Add!" />
  </form>
{% endblock %}
