<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Edit {% endblock %}

{% block body %}
  <div class="story-view dyn-medium shadow">
    <h1> {{ story.title }} </h1>
    <h2> by {{ story.author }} </h2>
    <p> ...{{ story.last_update }} </p>
  </div>
  <form method="post" class="form-container dyn-medium shadow">
    <textarea id="text" name="Text" rows="16" placeholder="Continue the story..."></textarea>
    <input type="submit" value="Add!" />
  </form>
{% endblock %}
