<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- Move Slowly and Fix Things
2021-11-03
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Edit</title>
  </head>
  <body>
    <! -- show the most recent update + a text box to put addition in -->
    <! -- most recent update -->
    <textarea id="Text" name="Text" rows="20" cols="94" placeholder="Text"></textarea>
    <h1>
    <form method="POST">
      <a id="viewpg" href = "/go">Add!</a>
    </form>
    </h1> <! -- this commits the new addition and REDIRECTS TO THE VIEW PAGE NOT THE DISCOVER PAGE -->
  </body>
</html>
