<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}
  {% if user is not defined %}
    <div id="homeMessage">
      <div class="outline centerFlex" style="width: auto;">
        <h1>Please <a href="/login" style="color: white; text-decoration: underline;">log in</a> to view your stories</h1>
      </div>
    </div>
  {% endif %} 
  {% if stories is defined and stories is not none %}
    {# showing stories user has already done #}
    {% import "macros.jinja" as macros %}
    <h1>Your stories below:</h1>
    {{ macros.story_list(stories) }}
  {% endif %}
{% endblock %}
