<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- Move Slowly and Fix Things
2021-11-03
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>
      <a id="newpg" href = "/create">New</a>
    </h1>
    <h1>
      <a id="discoverpg" href = "/discover">Discover</a>
    </h1>
    <h1>
      Asleep Alpacas, featuring: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
    </h1>
    
    {# user is "not defined" if it isn't passed as a variable to render_template (see init's home function for an example) #}
    {# also, this is how you make a comment with jinja #}
    {% if user is not defined %}
     <h3>
      Login
     </h3>
     <h1>
      <a id="loginpg" href = "/login">Login</a>
     </h1>
    {% else %}
     <h3>
      View stories you've contributed to below
     </h3>
     <h3>
      Logout
     </h3>
     <h1>
      <a id="logoutpg" href = "/logout">Logout</a>
     </h1>
    {% endif %}

    
  </body>
</html>
