<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}
  {% if user is not defined %}
    <h1>Please Log in</h1>
  {% endif %} 
  {% if stories is defined and stories is not none %}
    {# showing stories user has already done #}
    {% import "macros.jinja" as macros %}
    <h1>Your Stories Below:</h1>
    {{ macros.story_list(stories) }}
  {% endif %}
{% endblock %}
