<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{# This is the base template for the pages. #}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav>
      <div>
        <a id="home" href="/">Home</a>
        <a id="create" href="/create">New</a>
        <a id="discover" href="/discover">Discover</a>
      </div>
      <div>
        {% if user is defined and user is not none %}
          <a id = "user">Hello there User: {{user}}</a>
          <a id="logout"href="/logout">Logout</a>
        {% else %}
          <a id="login" href="/login">Login</a>
          <a id="signup" href="/register">Signup</a>
        {% endif %}
      </div>
    </nav>

      {% block body %}{% endblock %}
    <footer>
      &copy; 2021 Asleep Alpacas
      <br />
      Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
    </footer>
  </body>
</html>
