{#
  This is a file containing some useful macros.
  Read about macros on the Jinja docs: https://jinja.palletsprojects.com/en/3.0.x/templates/#macros
#}

{# Displays a box containing the relevant story information #}
{% macro story_list(stories) %}
  {% for story in stories %}
    <article>
      <a href="/story/{{ story.id }}">{{ story.title }}</a> by {{ story.author }}
      <br>
      <p>{{ story.last_update }}</p>
    </article>
  {% endfor %}
{% endmacro %}
