<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Create {% endblock %}

{% block body %}
  <form method="POST">
    <fieldset class="form-container dyn-medium shadow">
      <legend> Start a new story! </legend>
      <input id="Title" name="Title" placeholder="Title"/>
      <textarea id="Text" name="Text" rows="20" placeholder="Text"></textarea>
      <input type = "submit" value ="Create">
    </fieldset>
  </form>
{% endblock %}
