<!-- 
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev 
P00 - Move Slowly and Fix Things
2021-11-03
-->
<!DOCTYPE html>
<html>
  <body>
   <h1> Create a story! </h1>
<form action="/add">
      <textarea id="Title" name="Title" rows="2" cols="75" placeholder="Title"></textarea> 
      <textarea id="Date" name="Date" rows="2" cols="15" placeholder="Date"></textarea> 
      <br>
      <textarea id="Text" name="Text" rows="20" cols="94" placeholder="Text"></textarea> 
      <br>
      <input type = "submit" value ="Create">
</form>
  </body>
</html>
