<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
    <form method="post" action="/register">
      <div class="form centerFlex">
        <div class="outline centerFlex" style="flex-direction: column; gap: 20px;">
          <legend style="color: white;"> Create an account </legend>
          {% if explain is defined %}
            <p style="color:red;">{{ explain }}</p>
          {% endif %}
          <input type="text" name="newusername" placeholder="Username">
          <input type="password" name="newpassword" placeholder="Password">
          <input type="submit" name="sub" value="Sign Up" class="submitButton">
          </div>
      </div>
    </form>
    <a id="login" style="background-color: powderblue; padding: 10px; color: white;" class="centerFlex" href="/login">Already have an account? Log in</a>
{% endblock %}
