<!--
Asleep Alpacas: Justin Zou, Yoonah Chang, Wen Hao Dong, Liesel Wong
SoftDev
P00 -- StoryAlpaca
2021-11-12
-->

{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
    <form method="post" action="/register">
      <p> Sign up here! </p>
      <input type="text" name="newusername" placeholder="Username">
      <br />
      <input type="password" name="newpassword" placeholder="Password">
      <br />
      <input type="submit" name="sub" value="Sign Up">
      <br />
      <p style="color:red;">{{ explain }}</p>
    </form>
    <a id="login" href="/login">Log In</a>
{% endblock %}
